.hero-bg {
  background-image: url(../assets/backgrounds/hero.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.benefit-bg {
  background-image: url(../assets/backgrounds/benefits.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}

.about-bg {
  background-image: url(../assets/backgrounds/about.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.about-header-bg {
  background-image: url(../assets/backgrounds/about-header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-bg {
  background-image: url(../assets/backgrounds/contact.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}