.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-align: center;

  transition: scale 0.5s;
  color: #FFFFFF;
}

.navLink:hover {
  scale: 1.1;
}

.footerHeader {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.footerLink {
  font-weight: 400;
  line-height: 32px;
  color: #FBFBFB;
}